// {
//   "extends": ["next", "next/core-web-vitals", "next/babel"]
// }
{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "babelOptions": {
      "presets": ["next/babel"]
    }
  }
}
