.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 10px;
    background-color: #fff;
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }